# Default ignored files
/../../../../../../../../../../../../:User/Student/pluralsight/StringApplication/.idea/shelf/
/../../../../../../../../../../../../:User/Student/pluralsight/StringApplication/.idea/workspace.xml
